/* Set the background color to a darker shade of black */
body {
  background-color: #121212;
}

/* Set the color of the text to a light grey */
body {
  color: #ccc;
  font-family: 'Inter';
}

/* Set the color of highlighted text and buttons to a lighter shade of gold */
.highlight {
  color: #d4af37  ;
  background-color: transparent;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}

/* Set the color of other text to a light grey */
p, h1, h2, h3, h4, h5, h6, a {
  color: #ccc;
}

/* Set the font to sans-serif */
body {
  font-family: sans-serif;
}

/* Button */
button.highlight {
  font-size: 24px;
  font-family: 'Inter';
  font-weight: bold;
  color: #fff;
  background-color: #edcb13;
  border: none;
  padding: 16px 32px;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
  margin: 0 auto;
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}


/* Set the links to be underlined and a lighter shade of gold */
a {
  text-decoration: none;
}

/* Remove the underline on links when hovering over them */
a:hover {
  text-decoration: none;
}

/* h1 styling */
h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 5.5em;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

h1.background-image {
  background-image: url('jim2.jpeg');
  background-position: center 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding: 50px;
  font-size: 3.5em;
  font-family: 'Playfair Display', serif;
  line-height: 7;
}

/* Section styling */
.section {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
  max-width: 1150px;
  margin: 0 auto;
}

.section:nth-child(odd) {
  text-align: right;
}

.section:nth-child(odd) h2 {
  text-align: right;
  margin-right: 5px;
}

.section:nth-child(even) h2 {
  text-align: left;
  margin-left: 5px;
}

.section:nth-child(odd) p {
  text-align: right;
  margin-right: 10px;
}

.section:nth-child(even) p {
  text-align: left;
  margin-left: 10px;
}




